<!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8">
        <title>TimeZones!</title>
          <link rel="stylesheet" href="/css/main.css">
          </head>
          <body>
            <section id="content">
              {{{content}}}
            </section>
          </body>
        </html>
